.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: clamp(1rem, 4vw, 8rem);
  color: #ed1c1c;
  width: 100%;
  height: 100vh;
}
.error hr {
  height: 2px;
  width: 40%;
}
