.maincon {
  width: 100%;
  min-height: 93vh;

  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  padding-top: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.maincon a {
  text-decoration: none;
}
.maincon h1 {
  color: rgb(249, 101, 47);
  font-size: 55px;
  text-shadow: 4px 5px 2px rgb(216, 194, 194);
}
.maincon hr {
  height: 2px;
  width: 80%;
}
.projectCon {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}
.scroll {
  transform: rotate(90deg);
  margin-right: -11.5%;
  width: 165px;
}
.scrollword {
  font-size: 22px;
  font-weight: 900;
  animation: color-animation 4s linear infinite;
}
.scrollword1 {
  --color-1: #df8453;
  --color-2: #3d8dae;
  --color-3: #e4a9a8;
}

.scrollword2 {
  --color-1: #dbad4a;
  --color-2: #accfcb;
  --color-3: #17494d;
}
@keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  32% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  65% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }
  99% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}

.containt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  width: 90%;
  height: 345px;
  border-radius: 10px;
}
.containt p {
  margin: 20px;
  font-size: 12px;
  font-family: "Orbitron";
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.button1 {
  width: 95%;
  height: 32px;
  border-radius: 20px;
  border: rgb(238, 118, 118) 2px solid;
  font-size: 15px;
  background-color: rgb(249, 101, 47);
  color: white;
  margin: 5px;
  cursor: pointer;
}
.button1:hover {
  color: black;
  background-color: white;
  border: rgb(249, 101, 47) 2px solid;
}

.button2 {
  width: 95%;
  height: 32px;
  border-radius: 20px;
  font-size: 15px;
  border: 1px solid orange;
  margin: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button2:hover {
  color: white;
  background-color: rgb(252, 114, 64);
  border: rgb(221, 215, 215) 2px solid;
}

.projectImg {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.cards {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  width: 80%; */
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 10px;
  grid-template-areas:
    ". . . ."
    ". . . .";
  width: 80%;
  height: 345px;
  overflow: auto;
  cursor: pointer;
}
/* Hide scrollbar for Chrome */
.cards::-webkit-scrollbar {
  display: none;
}
.buttons a {
  text-decoration: none;
  width: 44%;
}
@media (max-width: 768px) {
  .maincon {
    padding-top: 84px;
    padding-bottom: 75px;
  }
  .projectCon {
    width: 93%;
  }
  .scroll {
    display: none;
  }
  .containt {
    width: 240px;
  }
  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto; /* to avoid scroling div*/
  }
  .maincon h1 {
    font-size: 40px;
  }
}
@media (min-width: 2500px) {
  .maincon h1 {
    font-size: 6rem;
  }
  .cards {
    height: 600px;
  }
  .containt {
    height: 600px;
  }
  .containt p {
    font-size: 25px;
  }
  .button1 {
    font-size: 31px;
    height: 60px;
    border-radius: 30px;
  }
  .button2 {
    font-size: 31px;
    height: 60px;
    border-radius: 30px;
  }
  main p {
    font-size: 50px;
  }
}
