:root {
  --color-glass: rgba(255, 255, 255, 0.05);
  --color-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  /* Own made color palette applied to root. */
}
.navContainer {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 65px;
  min-width: 800px;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  background-color: var(--color-glass);
  backdrop-filter: blur(12px);
  box-shadow: var(--color-shadow);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.nameLogoContainer {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 5px;
}
.nameLogoContainer img {
  border-radius: 50%;
}
.nameLogoContainer a {
  height: 50px;
}
/* @keyframes logorotate {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(359deg);
  }
}
.nameLogoContainer img {
  animation: logorotat 25s linear 3s infinite;
  align-self: flex-end;
} */
.name {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.name h2 {
  margin: 0;
  font-size: 27px;
}
.name p {
  margin: 0;
  font-size: 13.9px;
  font-weight: 600;
  color: rgb(249, 101, 47);
}
.menuContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.menuContainer h4 {
  text-decoration: line-through;
  color: rgb(249, 101, 47);
}
.link {
  text-decoration: none;
  color: black;
  font-size: smaller;

  font-weight: 700;
}
.link:focus {
  color: rgb(249, 101, 47);
}
.link:hover {
  color: rgb(249, 101, 47);
}
.link span {
  color: rgb(249, 101, 47);
}
.link span:hover {
  filter: brightness(120%);
}

.link::after {
  content: "";
  width: 0px;
  height: 2.5px;
  display: block;
  background: orange;
  transition: 600ms;
}

.link:hover::after {
  width: 100%;
}
