.main {
  width: 100%;
  min-height: 93vh;
  /* min-width: 940px; */
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: absolute;
  z-index: -1;
}
.aboutme {
  /* position: absolute;
  top: 75px; */
  font-size: clamp(45px, 15vw, 80px);
  padding-top: 20px;
  color: coral;
  text-shadow: 4px 5px 2px rgb(216, 194, 194);
}
.maincontent {
  /* position: absolute; */
  display: flex;
  justify-content: center;

  flex-direction: row;
  gap: 4%;
}
.picture {
  width: 350px;
  height: 405px;
  /* top: 32px;
  position: relative; */
  border: 3px solid white;
  border-radius: 2px;
  margin-top: 5px;
}
.pitch {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: clamp(330px, 50%, 600px);
  /* padding-top: 28px; */
  /* position: relative; */
}
.pitch h2,
p span {
  color: coral;
  text-align: center;
  margin: 10px;
}
.pitch p {
  line-height: 1.2;
  font-size: clamp(0.5em, 1.5vw, 1rem);
  padding-right: 5px;
}
.rotate {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 80px;
  height: 25px;
  width: 45px;

  transform: rotate(90deg);
}
.rotate h1 {
  font-size: 11px;
  letter-spacing: 13px;
}
.rotate span {
  font-size: 27px;
  height: 38px;
}
.cv {
  margin: 10px;
  width: 115px;
  height: 35px;
  border-radius: 20px;
  background: azure;
  border: 1px solid orange;
  cursor: pointer;
}
.cv:hover {
  background: orange;
  border: 1px solid azure;
  color: white;
}
@media (max-width: 768px) {
  .maincontent {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding-bottom: 110px;
  }
  .pitch p {
    font-size: 14px;
  }
  .aboutme {
    padding-top: 60px;
  }
}
@media (min-width: 1500px) {
  .aboutme {
    font-size: 130px;
  }
  .picture {
    width: 600px;
    height: 655px;
  }
  .picture img {
    width: 600px;
    height: 655px;
  }
  .rotate h1 {
    font-size: 25px;
  }
  .pitch {
    width: 1014px;
  }
  .pitch h2 {
    font-size: 70px;
  }
  .pitch p {
    font-size: 25px;
  }
  .cv {
    font-size: 20px;
    width: 200px;
    height: 60px;
    border-radius: 30px;
  }
}
